<div class="top-bar">
    ✦ Envío gratis en compras mayores a $50.000 🚚 ✦
</div>

<nav class="navbar navbar-expand-lg bg-white border-bottom">
    <div class="container-fluid px-4">

        <a class="navbar-brand" href="/">
            🌿 Oxigen
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Cuidado facial">Cuidado facial</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Maquillaje">Maquillaje</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Brochas">Brochas</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Labios">Labios</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Ojos">Ojos</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Accesorios">Accesorios</a></li>
                <li class="nav-item"><a class="nav-link" href="/categoria/Perfumes">Perfumes</a></li>
            </ul>
            <div class="d-flex align-items-center gap-3">
                <input class="form-control form-control-sm rounded-pill" type="search" placeholder="Buscar productos..."
                    style="width: 180px;">
                <a href="#" class="nav-icon">🔍</a>
                <a href="#" class="nav-icon">👤</a>
                <a href="/carrito" class="nav-icon">🛒</a>
            </div>

        </div>
    </div>
</nav>