<!-- hero banner -->
<section class="hero">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="hero-subtitle">✦ NUEVA COLECCIÓN</p>
                <h1>Realza tu belleza</h1>
                <p>Descubre productos que resaltan tu belleza natural</p>
                <a href="/agregar" class="btn btn-dark">Ver productos →</a>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>

<!-- categorias -->
<section class="categorias my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/maquillaje.jpg" alt="Maquillaje" class="img-fluid rounded">
                <h6>Maquillaje</h6>
                <small>Todo para un look perfecto</small>
                <br><a href="#">Ver más →</a>
            </div>
            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/iluminadores.jpg" alt="Iluminadores" class="img-fluid rounded">
                <h6>Iluminadores</h6>
                <small>Brilla en cada ocasión</small>
                <br><a href="#">Ver más →</a>
            </div>

            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/sombra.jpg" alt="sombra" class="img-fluid rounded">
                <h6>Sombras</h6>
                <small>Colores que enamoran</small>
                <br><a href="#">Ver más →</a>
            </div>
            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/bases.jpg" alt="Bases" class="img-fluid rounded">
                <h6>Bases</h6>
                <small>cubre tu cara con estilo</small>
                <br><a href="#">Ver más →</a>
            </div>
            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/rubor.jpg" alt="Rubor" class="img-fluid rounded">
                <h6>Rubores</h6>
                <small>Larga duración y confort</small>
                <br><a href="#">Ver más →</a>
            </div>


            <div class="col-md-2 col-4 text-center categoria-item">
                <img src="/img/perfumes.jpg" alt="perfumes" class="img-fluid rounded">
                <h6>Perfumes</h6>
                <small>Larga duración y confort</small>
                <br><a href="#">Ver más →</a>
            </div>